.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #fedd4e, #fcb43a);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

.ais-ClearRefinements-button,
.ais-ClearRefinements-button--disabled {
  font-size: 1.5em;
  background-color: blue;
}

#clear-refinements {
  text-align: center;
}
#searchbox {
  outline: none;
  margin: 2rem auto;
  width: 50%;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Pagination-link {
  background-color: whitesmoke;
  font-size: 2em;
  color: rgb(33, 36, 61);
  font-family: 'Source Sans Pro';
}
.ais-Hits--empty {
  display: none;
}

.ais-HitsPerPage-select {
  font-size: 1.8em;
  padding: 0.3em;
  font-family: 'MTG';
  width: 16%;
  color: rgb(33, 36, 61);
}

#stats {
  text-align: center;
  margin-bottom: 1.5em;
}

.ais-Stats-text {
  text-align: center;
  font-size: 2em;
  color: rgb(33, 36, 61);
}

.hit-name {
  flex: 1;
  display: inline;
}

.ais-SearchBox {
  margin: 1em 0;
}

.hit-description {
  margin-top: 4%;
}

.hit-mana {
  float: right;
  font-size: 2em;
}

.hit-content {
  display: flex;
  height: 550px;
  flex-direction: column;
}

.hit-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.349);
}

.invisible {
  display: none;
}

.hit-stats {
  align-self: flex-end;
  font-size: 1.2em;
}

.hit-image {
  width: 98%;
  margin-top: 1%;
  height: 250px;
  object-fit: cover;
  border: 3px solid rgba(0, 0, 0, 0.555);
}

.ais-InstantSearch {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1%;
  border: 2px solid grey;
  border-radius: 10px;
  margin-right: 1.2%;
  background-color: whitesmoke;
  box-shadow: 1px 3px 10px 1px;
  font-size: 1.5em;
}

.right-panel {
  flex: 4.5;
}

.right-panel > h1 {
  font-size: 2.5em;
}

#hits-per-page {
  text-align: center;
  font-size: 1.3em;
}

h1 {
  text-align: center;
}

.hit-rarity {
  min-height: 32.5px;
}

.hit-mana {
  font-family: 'MTG';
}

.ais-Hits-item {
  box-shadow: 3px 3px 3px 2px;
  font-family: 'Source Sans Pro', sans-serif;
  background: whitesmoke;
  box-shadow: 0 0 5px 1px inset;
  border-radius: 10px;
}

.ais-RefinementList-labelText,
.ais-RefinementList-count {
  font-size: 1.2em;
}

.ais-SearchBox-input {
  font-size: 2em;
  padding-top: 10px;
  padding-left: 35px;
  font-family: 'MTG', 'Source Sans Pro';
}

.right-panel > img {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  display: block;
}

@media screen and (max-width: 1640px) {
  .ais-Hits-item,
  .ais-InfiniteHits-item,
  .ais-InfiniteResults-item,
  .ais-Results-item {
    width: calc(33.3% - 1rem);
  }
}

@media screen and (max-width: 1200px) {
  .ais-Hits-item,
  .ais-InfiniteHits-item,
  .ais-InfiniteResults-item,
  .ais-Results-item {
    width: calc(50% - 1rem);
  }

  .left-panel {
    flex: 1;
  }
  .right-panel {
    flex: 2.5;
  }
}

@media screen and (max-width: 800px) {
  .ais-Hits-item,
  .ais-InfiniteHits-item,
  .ais-InfiniteResults-item,
  .ais-Results-item {
    width: calc(100% - 1rem);
  }

  .left-panel {
    flex: 2;
  }
  .right-panel {
    flex: 1;
  }
}
