@font-face {
  font-family: 'MTG';
  src: url('../MAGIC.woff') format('woff');
}

body {
  font-family: 'MTG', Fallback, sans-serif;
  padding: 1em;
  background-color: #acb3ebbe;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds.png');
  color: #21243d;
}
